<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590771991745-tcftmmlghoo2qe1dqa8539gh43k11i50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590771991745-tcftmmlghoo2qe1dqa8539gh43k11i50</string>
	<key>API_KEY</key>
	<string>AIzaSyDHXeQxw5jE0NYtjeFBmzq9F4aWghWPCLM</string>
	<key>GCM_SENDER_ID</key>
	<string>590771991745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adamantiummettle.adkEats</string>
	<key>PROJECT_ID</key>
	<string>adkeats-4e93c</string>
	<key>STORAGE_BUCKET</key>
	<string>adkeats-4e93c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590771991745:ios:acdb09fbefddf68349d040</string>
</dict>
</plist>